html {
    scroll-behavior: smooth;
    font-family: 'Lekton', sans-serif;
    color: white;
    background: #060606;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    width: 100%;
    /* position: absolute; */
    /* top: 0; */
}

.logo {
    height: 150px;
    width: 150px;
}

.logo svg {
    fill: white;
}

h1 {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}

.slider-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

.slider-container:hover .swipe{
display: none;
}

.swipe {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100px;
    height: 100%;
    position: absolute;
    animation: fadeInOut 2.5s ease-out infinite;
}

.swipe svg {
    fill: white;
    width: 20px;
    height: 10px;
}

.slider {
    display: flex;
    flex-flow: row nowrap;
    /* padding: 40px; */
    /* padding-bottom: 150px; */
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.slide {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

.banner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
    padding-bottom: 150px;
}

/* .images {
    border: 10px solid lightgrey;
} */

.bi-desktop {
    display: none;
}

.btn-cta {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 10px 20px;
    background: white;
    color: black;
    font-weight: 900;
}

.footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.social-icons {
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 40px;
}

.icon svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.copyright {
    color: white;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    border-top: 1px solid darkgray;
    padding:10px 40px;
    font-size: 6px;
    width: 100%;
}

/* Links */
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    font-weight:900;
}

a:active {
    color: lightgrey;
}

a:visited {
    color: darkgray;
}

/* Desktop */
@media only screen and (min-width: 480px) {
    .swipe {
        display: flex;
    }
    
    .bi-image {
        padding: 40px 0;
    }

    .btn-cta {
        transition: all .2s ease-in-out;
        background: black;
        color: white;
    }

    .btn-cta:hover {
        background: white;
        color: black;
        transform: scale(1.1);
    }

    .bi-desktop {
        display: flex;
        flex-flow: column nowrap;
    }

    .bi-mobile {
        display: none;
    }

    .copyright {font-size:10px}


    .icon {
        transition: all .2s ease-in-out;
    }

    .icon:hover {
        transform: scale(1.3);
    }

}


/* ANIMATIONS */
@keyframes fadeInOut {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}