html {
    scroll-behavior: smooth;
    font-family: 'Lekton', sans-serif;
    color: white;
    background: #060606;
  }

/* body {
    overflow: hidden;
} */

.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.logo {
    height: 150px;
    width: 150px;
}

.logo svg {
    fill: white;
}

h1 {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}

.banner {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index:-1;
    overflow: hidden;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.social-icons {
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 40px;
}

.icon svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.copyright {
    color: white;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    border-top: 1px solid darkgray;
    padding:10px 40px;
    font-size: 6px;
    width: 100%;
}

/* Links */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight:900;
}

a:active {
    color: lightgrey;
}

a:visited {
    color: darkgray;
}

/* Desktop */
@media only screen and (min-width: 480px) {
    .copyright {font-size:10px}


    .icon {
        transition: all .2s ease-in-out;
    }

    .icon:hover {
        transform: scale(1.3);
    }
}
